/**
 * Primary navigation
 *
 * @markup
 *   <nav class="nav-primary">
 *     <ul>
 *       <li><a href="#">Link A</a></li>
 *       <li><a href="#">Link B</a></li>
 *     </ul>
 *   </nav>
 */

.nav-primary {
    @extend %layout-on-top;
    top: 40px;
    left: 367px;

    ul {
        display: flex;
        justify-content: flex-start;

        @include list-unstyle ();
    }
    li {
        position: relative;
    }

    a {
        @extend %link-nav-primary;
        @extend %text-sm;
        font-weight: 400;
        line-height: 32px;
        text-transform: uppercase;

        display: inline-block;
        padding: 0 18px;

        @include link-hover () {
            text-decoration: none;
        }
    }

    // Separator line
    li:before {
        content: "";

        position: absolute;
        left: 0;
        top: 11px;
        height: 10px;
        border-left: 1px solid currentColor;
        opacity: 0.3;
    }

    li:first-child:before {
        display: none;
    }
}
