/*
 * Element styles, which don't fit into any other group
 */

hr {
    border: 0;
    border-bottom: 1px solid;

    @each $theme, $colors in $themes {
        #{$theme} & {
            border-color: map-get($colors, primary);
        }
    }
}
