<div class="row row-pad">
    <div class="col-xs-12 theme-light theme-light-bg">

        <h2 name="headings">Headings</h2>

        <div class="screen-content">

            <div class="row row-pad">
                <div class="col no-overflow">

                    <h1 class="with-subheading">Heading <em>aaaaeeeeuu</em></h1>

                </div>
                <div class="col no-overflow">

                    <h1 class="h1-xl with-subheading with-line">Heading <em>aaaaeeeeuu</em></h1>

                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 theme-dark theme-dark-bg">

        <div class="screen-content">

            <div class="row row-pad">
                <div class="col no-overflow">

                    <h1 class="with-subheading">Heading <em>aaaaeeeeuu</em></h1>

                </div>
                <div class="col no-overflow">

                    <h1 class="h1-xl with-subheading with-line">Heading <em>aaaaeeeeuu</em></h1>

                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 theme-contrast theme-contrast-bg">

        <div class="screen-content">

            <div class="row row-pad">
                <div class="col no-overflow">

                    <h1 class="with-subheading">Heading <em>aaaaeeeeuu</em></h1>

                </div>
                <div class="col no-overflow">

                    <h1 class="h1-xl with-subheading with-line">Heading <em>aaaaeeeeuu</em></h1>

                </div>
            </div>

        </div>

    </div>
</div>
