{#
    Links
#}
<h2 name="btn">Links</h2>

<p>
    Link and different link state styles
</p>

<p>
    <a>Standard link</a><br />
    <a class="active">:active state</a><br />
    <a class="disabled">:disabled state</a>
</p>

<hr />
