<section>
    <input type="hidden" name="newsUrl" value="1">
    <div class="date-box">
        <aside>
            <div>новости</div>
            <time>19 сентября 2015</time>
        </aside>
        <time class="prev-date">
            24 сентября
        </time>
    </div>

    <div class="news-modal-container">
        <aside>
            <time>
                <em>19</em>
                <span>Сентября 2015</span>
            </time>
        </aside>
        <article>
            <h1>ЦБ РФ зарегистрированы Правила доверительного управления Закрытым рентным паевым инвестиционным фондом
                «Активо один» за № 3029</h1>
            <p>
                Цель формирования данного фонда в привлечении инвестиций для вложения в объекты коммерческой
                недвижимости, с условием выплаты ежемесячного промежуточного дохода.
            </p>
            <p>
                Общество с ограниченной ответственностью «КСП Капитал Управление Активами»: Лицензия на осуществление
                деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными
                пенсионными фондами № 21-000-1-00565 выдана ФСФР России 05.06.2008 Закрытый рентный паевой
                инвестиционный фонд «Активо один» Правила доверительного управления зарегистрированы 25.08.2015 за №
                3029 Центральным банком Российской Федерации (Банком России) Информация о деятельности Общества с
                ограниченной ответственностью «КСП Капитал Управление Активами» размещена в сети Internet, также
                необходимые сведения можно получить по телефону (495) 649 88 37. Общества с ограниченной
                ответственностью «КСП Капитал Управление Активами» уведомляет, что стоимость инвестиционных паев может
                увеличиваться и уменьшаться, результаты инвестирования в прошлом не определяют доходы в будущем,
                государство не гарантирует доходность инвестиций в паевые инвестиционные фонды. Прежде чем приобрести
                инвестиционные паи, следует внимательно ознакомиться с Правилами доверительного управления паевым
                инвестиционным фондом
            </p>
            <p>
                Сегодня, когда последствия мирового финансового кризиса еще ощущаются в жизни и работе многих граждан
                России, фондовый рынок — ликвидные акции и облигации — к сожалению, несет в себе гораздо меньшую
                доходность. Мы заинтересованы в перспективных идеях и готовы рассматривать рассматривать ваши
                предложения. Мы находимся в постоянном поиске инвестиционных идей, которые проходят через «сложные
                фильтры очистки», прежде чем будут представлены нашим клиентам на рассмотрение.
            </p>
        </article>
    </div>
</section>